<h2>Consulta enviada por {{ contacto.nombre }}</h2>
<p>Correo: {{ contacto.email }}</p>
<p>Teléfono: {{ contacto.telefono }}</p>
<br/>
<p>Asunto: {{ contacto.asunto }}</p>
<p>Comentario: {{ contacto.comentario }}</p>
